.wrapper{
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-breadcrumbs {
    background-color: #f1f1f3;
    border-radius: 4px;
    display: flex;
}

.breadcrumbs {
    padding: 20px;
    flex: 1;
}

.breadcrumbs > * {
    font-family: "Cera Pro Medium",sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.breadcrumbs > ul{
    display: flex;
    margin: 0;
    padding-inline-start: 0;
}

.breadcrumbs > ul > li{
    list-style: none;
    padding: 3px 10px;
    padding-bottom: 0px;
}

.breadcrumbs > ul > li > *{
    text-decoration: none;
    color: #303030;
}

.breadcrumbs ul li a::after{
    content: '';
    background: url(../images/arrow-icon-2.PNG) no-repeat;
    background-size: contain;
    width: 28px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.container-personalFilters{
    padding: 15px 20px;
    padding-bottom: 0px;
}

.container-personalFilters > a {
    text-decoration: none;
    color: #303030;
    font-family: "Cera Pro Medium",sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 3px 10px;
}

.container-personalFilters > a::after{
    content: '';
    background: url(../images/filter-icon.PNG) no-repeat;
    width: 28px;
    height: 30px;
    display: inline-block;
    vertical-align: bottom;
}

.container-filters{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    padding-top: 0px;
}

.filters{
    display: flex;
    box-sizing: border-box;
    max-width: 1245px;
    padding-inline-start: 0;
    margin: 0 auto;
}

.filters > *{
    list-style: none;
    margin-right: 5px;
    padding: 3px 10px;
    border: 1px solid #f3f3f5;
}
.filters *{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #f3f3f5;
    border-radius: 4px;
    color: #303030;
}

.filters > li>a:after{
    content: '';
    background: url(../images/arrow-icon-2.PNG) no-repeat;
    background-size: contain;
    height: 17.5px;
    width: 25px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.container-clothesDisplay{
    box-sizing: border-box;
    max-width: 1245px;
    padding-inline-start: 0;
    margin: 0 auto;
    height: 100%;
}
.sorter-nav *{
    text-decoration: none;
    color: #303030;
    font-weight: 400;
    font-size: 14px;
}

#sorterIcon{
    height: 34px;
    width: 34px;
    margin-left: 2px;
    vertical-align: middle;
    position: relative;
}

#dropdown-sort{
    background-color: #f1f1f3;
    border-radius: 4px;
    display: none;
    position: absolute;
    z-index: 100;
    min-width: 220px;
    left: 100px;
}

#dropdown-sort > ul{
    padding: 15px 13px;
}

#dropdown-sort *{
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
}

#display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display-box {
    flex: 0 0 25%;
    max-width: 23%;
    margin-bottom: 45px;
    margin-right: 0;
    float: left;
    position: relative;
    padding-right: 10px;
}

.img-display {
    height: inherit;
    width: inherit;
}

.icon-display{
    top: 400px;
}

.button-display{
    width: 100%;
}

.selectedNav{
    background-color: #f3f3f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.selectedFilter{
    background-color: white;
    border-radius: 4px;
}

