@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('Cera-Pro-Medium'), url('./CeraPro-Medium/CeraPro-Medium.woff2') format('woff2'), url('./CeraPro-Medium/CeraPro-Medium.woff') format('woff'), url('./CeraPro-Medium/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-feature-settings: "ss01";
    color: #303030;
    line-height: 1.2;
    background-color: #fff;
    margin: 0;
}

.mainContainer {
    max-width: 1245px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.headerMessage {
    max-width: 1245px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    top: 0;
    font-size: 13px;
    border-bottom: 1px solid #dedee3;
    padding: 3px 12px;
    overflow: hidden;
    z-index: -1;
    font-family: "Cera Pro", sans-serif;
    color: #707070;
}

.freeDelivery {
    position: relative;
    display: flex;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
}

.free-delivery-text {
    margin-top: 5px;
}

.delivery-top-icon {
    display: inline-block;
    background: url(./../images/delivery-top-icon.png) no-repeat center;
    width: 27px;
    height: 20px;
    min-width: 27px;
    margin-right: 10px;
}

.addedToday {
    display: flex;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    align-items: center;
    padding-left: 150px;
}

.addedToday a {
    color: #303030;
}

.product-top-icon {
    display: inline-block;
    background: url(./../images/product-top-icon.png) no-repeat center;
    width: 27px;
    height: 25px;
    min-width: 27px;
    margin-right: 10px;
    margin-bottom: 3px;
}

.rating {
    position: relative;
    display: flex;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
}

.rating-text {
    margin-top: 5px;
}

.trustpilot-logo {
    display: inline-block;
    background: url(./../images/trustpilot-icon-2.png) no-repeat center;
    width: 80px;
    height: 22px;
    margin-left: 8px;
    padding-left: 5px;
    padding-top: 5px;
}

.main-header {
    width: 100%;
    background-color: #fff;
    position: relative;
    padding-bottom: 10px;
}

.main-header-new {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 997;
}

.goDown {
    margin-top: 80px !important;
}

.main-logo {
    display: inline-block;
    width: 165px;
    height: 80px;
    position: relative;
    margin-top: -10px;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

.main-logo:before {
    content: "";
    background: url(../images/Logo-1.png) no-repeat;
    display: inline-block;
    width: 159px;
    height: 80px;
    position: relative;
    left: 5px;
    top: 15px;
}

.small-logo {
    width: 65px;
}

.main-navigation {
    display: flex;
    max-width: 1245px;
    width: 100%;
    padding-right: 28px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto;
}

.navigation-container {
    width: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    margin-left: 20px;
}

.navigation-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 10px 0 0 0;
}

.main-navigation .navigation-list>li>a, .main-navigation .registration>li>a {
    padding: 8px 12px;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    color: #707070;
    text-transform: uppercase;
    display: inline-block;
}

.main-navigation .navigation-list>li.outlet>a, .main-navigation .navigation-list>li.newSeason>a {
    position: relative;
    padding-left: 31px;
}

.main-navigation .navigation-list>li>a:hover {
    color: #252525;
}

.main-navigation .registration>li>a:hover {
    color: #0a5c22;
}

.main-navigation .navigation-list>li.outlet>a::before {
    background-image: url(./../images/outlet-icon.png);
}

.main-navigation .navigation-list>li.newSeason>a::before {
    background-image: url(./../images/nextSeason-icon.png);
}

.main-navigation .navigation-list>li.outlet>a::before, .main-navigation .navigation-list>li.newSeason>a::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 5px;
    width: 22px;
    height: 22px;
}

.registration {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    list-style: none;
    position: absolute;
    right: 0;
}

.main-navigation .main-filters {
    background-color: #f3f3f5;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    margin-left: 20px;
    position: relative;
    height: 25px;
}

.main-navigation .main-filters .filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.main-filters .filter-item>li>a {
    position: relative;
    padding: 3px 12px;
    line-height: normal;
    white-space: nowrap;
    font-family: "Cera Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 12px;
    color: #707070;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.main-filters .filter-item>li>a:hover {
    color: #252525;
}

.search-box {
    width: 38.3%;
    max-width: 402px;
    position: absolute;
    right: 10px;
}

.search-container-input {
    position: absolute;
    right: 0;
    width: 400px;
}

.search-box .search-input {
    height: 25px;
    padding: 0 40px 0 10px;
    border: none;
    border-radius: 4px;
    width: 350px;
}

.search-box .icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 24px;
    background: url(./../images/search-icon.png) no-repeat center center;
    background-size: 17px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;
}

/* Banners section ------------------------------------------------------------------------ */

#banners {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.banner-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
}

.banner-container .banner-categories {
    position: relative;
    border-radius: 4px;
}

.banner-container .banner-categories .categoty-button {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #303030;
    transform: translate(-50%, -50%);
    padding: 11px 30px;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.banner-container .banner-categories .categoty-button:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    border: 1px solid rgb(243, 243, 243);
}

.banner-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.banner-section .main-banners-left {
    position: relative;
}

.banner-section .conditions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 9px;
    color: black;
    text-transform: uppercase;
}

.banner-section .main-banners-left {
    margin-right: 15px;
    display: flex;
    justify-content: flex-start;
}

.banner-section img, .banner-container img {
    border-radius: 4px;
}

/* Home page--------------------------------------------------------------------------- */

#pageHome h1 {
    font-size: 15px;
    color: #cecece;
    margin: 10px 0 20px;
    padding: 20px;
    text-align: center;
    background: #f6f2ef;
    text-transform: uppercase;
}

.advantages-title, .section-title {
    font-family: "Cera Pro", sans-serif;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.2;
    color: #303030;
    padding-top: 40px;
}

#homePageSuggestions {
    padding-top: 0 !important;
}

.advantages-sub-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    color: #5f5f5f;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 300;
}

/* carousel */

.slideshow-container {
    position: relative;
}

/* Hide the images by default */

.slideshow {
    display: none;
}

/* Next & previous buttons */

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    border: 1px solid black;
}

/* Position the "next button" to the right */

#next {
    right: 0;
    border-radius: 50%;
    border: 1px solid black;
}

/* On hover, add a black background color with a little bit see-through */

#prev:hover, #next:hover {
    background-color: rgba(206, 206, 206, 0.8);
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Products in carousel */

.product-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0 40px 0 50px;
}

.slide-box {
    width: 166.5px;
    margin: 0 15px;
    float: left;
    position: relative;
}

.product-box {
    display: flex;
    width: 100%;
    position: relative;
}

.product-photos {
    position: relative;
    display: block;
    min-height: 1px;
    padding-top: 150.64%;
    text-decoration: none;
    outline: none;
}

.product-img {
    max-height: 400px;
    position: absolute;
    top: 0;
    height: 250px;
    width: 160px;
    display: block;
    border-style: none;
    z-index: 1;
    background-color: none;
}

.cornerWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.cornerWrapper .discount, .cornerWrapper .outletPic, .cornerWrapper .nextSeasonPic {
    font-size: 13px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #ed1c24;
    font-family: "Cera Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    width: 30px;
    height: 22px;
    border-radius: 4px;
    z-index: 1;
}

.cornerWrapper .outletPic {
    margin-bottom: 5px;
    background: url(./../images/outlet-icon-carousel.png) no-repeat center;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    background-size: 16px 16px;
}

.cornerWrapper .nextSeasonPic {
    margin-bottom: 5px;
    background: url(./../images/sun-black-icon.png) no-repeat center;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    background-size: 16px 16px;
}

.product-info {
    font-family: "Cera Pro", sans-serif;
    margin-top: 0.357em;
    width: 100%;
    display: flex;
}

.product-brand {
    font-size: 1.1em;
    padding-right: 0.929em;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    flex: 1;
    text-decoration: none;
    color: #303030;
}

.product-size {
    font-size: 0.929em;
    white-space: nowrap;
    padding-right: 0.357em;
}

.price-box {
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-height: 1px;
    flex-direction: column;
}

.old-price-box, .new-price-box {
    margin-top: 0.214em;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: 5px;
}

.price-title {
    font-size: 0.643em;
    text-transform: uppercase;
}

.old-price {
    font-size: 1em;
    color: #a3a3a3;
    text-decoration: line-through #ed1c24;
}

.promo, #pageOverView .product-details .promo-badge {
    font-size: 0.714em;
    width: 3.5em;
    height: 2.5em;
    color: #ed1c24;
    border: 1px solid #e8afaf;
    background-color: #f5eded;
    font-family: "Cera Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    border-radius: 4px;
}

.product-list .product-price {
    font-family: "Cera Pro", sans-serif;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-height: 1px;
    display: flex;
    flex-direction: column;
}

.new-price {
    color: #ed1c24;
    font-size: 1.071em;
    font-family: "Cera Pro", sans-serif;
}

.price-container {
    margin-top: 35px;
    margin-bottom: 5px;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
}

.price-without-discount {
    font-size: 15px;
    text-transform: uppercase;
}

.product-button {
    margin-top: 0.571em;
    position: relative;
}

.add-button {
    font-size: 0.929em;
    padding: 0.643em 0;
    display: block;
    padding: 11px 50px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    color: #303030;
    line-height: normal;
    text-align: center;
    border: 1px solid #303030;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(243, 243, 243);
}

.favourite-icon-container {
    position: relative;
}

.favourite-icon {
    position: absolute;
    top: 225px;
    right: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    background: url(../images/favorite-icon.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    z-index: 100;
}

.favourite-icon:hover {
    background: url(../images/favorite-icon-hover.png) no-repeat;
}

/*  Brands section */

#brandsSection {
    background: #f3f3f5;
    width: 100% !important;
}

.all-brands-container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.brands>ul, .hidden-brands>ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
}

.hidden-brands>ul {
    margin-top: 0;
}

.hidden-brands {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease max-height;
}

.hidden-brands-show {
    max-height: 500px;
}

.brand-container {
    display: flex;
}

.brands-list {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    list-style: none;
}

.brand-container .box-img {
    margin: 15px 0;
}

.brand-container .box-img .brand-img {
    width: 176px;
    height: 176px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    vertical-align: middle;
    border-style: none;
}

.brand-container .box-info {
    padding: 20px 15px 15px 15px;
    min-width: 1px;
    max-height: 176px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}

.like-container {
    justify-content: flex-end;
    padding-bottom: .5rem;
}

.brand-container .favorite-icon {
    padding: 5px;
    display: inline-block;
    margin-left: 175px;
    background: url(./../images/favorite-icon.png) top center no-repeat;
    width: 10px;
    height: 10px;
}

.brand-container .favorite-icon:hover {
    background: url(./../images/favorite-icon-hover.png) top center no-repeat;
}

.brand-container .brand-description {
    display: flex;
    flex-direction: column;
}

.brand-description .title {
    display: block;
    text-transform: uppercase;
    padding-top: 30px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #303030;
    margin-top: 0;
}

.brand-description .available-products {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 15px;
}

.brand-description .see-brand-button {
    padding: 9px 15px;
    font-size: 13px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    color: #303030;
    line-height: normal;
    text-align: center;
    border: 1px solid #303030;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.brand-description .see-brand-button:hover {
    background-color: rgb(245, 244, 244);
}

.all-brands-container .show-more {
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    padding-right: 25px;
}

.all-brands-container .show-more::after {
    content: '';
    margin-left: 10px;
    display: inline-block;
    background: url(./../images/arrow-icon.png) no-repeat;
    width: 14px;
    height: 7px;
    position: relative;
    bottom: 0;
}

.text-container {
    text-align: center;
    margin-top: 1.5rem;
}

.text-container .brand-link {
    display: inline-block;
    text-align: center;
    color: #303030;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 40px;
    letter-spacing: 0.7px;
}

.text-container .brand-link:hover {
    color: #0a5c22;
}

.container-title, .container-articles, .container-information {
    width: 100%;
    max-width: 1280px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    color: #5f5f5f;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
}

.container-articles .slides {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-articles .post {
    flex: 0 0 30.9%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.box-article-column {
    flex-direction: column;
}

.img-post {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    cursor: pointer;
}

.blog-link {
    display: block;
    text-decoration: none;
    color: #303030;
    text-align: center;
    margin-top: 15px;
}

.box-article-title {
    font-family: "Cera Pro", sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.box-article-title:hover {
    color: #0a5c22;
}

.box-article-text {
    margin: 0 auto;
    max-width: 360px;
    color: #5f5f5f;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 0;
}

.hidden-text-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #303030;
    border-radius: 50%;
    background: url(./../images/arrow-icon-hidde-inform.png) no-repeat center 16px;
    background-size: 20px 20px;
    cursor: pointer;
}

.reverse {
    transform: rotate(180deg);
}

.hidden-text {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease max-height;
}

.hidden-text-show {
    max-height: 500px;
}

footer {
    color: #707070;
}

#footer-top {
    padding: 60px 0 40px;
    background-color: #f1f1f3;
    font-size: 13px;
}

.footer-container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-row>div {
    flex: 0 0 30.5%;
    max-width: 31%;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

h3 {
    text-transform: uppercase;
    font-family: "Cera Pro", sans-serif;
    font-size: 21px;
    color: #303030;
    font-weight: 400;
    line-height: 1.2;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul>li {
    margin-top: 15px;
}

footer a {
    text-decoration: none;
    color: #303030;
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0.8;
}

#footer-top p {
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    color: #303030;
    line-height: 21px;
    margin-top: 0;
    margin-bottom: 20px;
}

.sos-donate {
    background-image: url(../images/sos_logo_bg.png);
    background-size: 89px 27px;
    display: inline-block;
    margin-left: 3px;
    width: 89px;
    height: 27px;
    vertical-align: top;
}

.tel, .email {
    color: #676768;
    text-transform: none;
    opacity: 1;
    font-size: 13px;
}

.email {
    padding-left: 25px;
}

.tel::before {
    background-image: url(../images/tel-icon.PNG);
    background-size: 25px 20px;
    width: 25px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: bottom;
}

.email::before {
    background-image: url(../images/email.PNG);
    background-size: 30px 20px;
    width: 30px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: bottom;
}

.clock::before {
    background-image: url(../images/clock.PNG);
    background-size: 25px 20px;
    width: 25px;
    height: 20px;
    content: '';
    display: inline-block;
    vertical-align: bottom;
}

#app img {
    height: 42px;
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
}

#newsletter_input {
    font-size: 14px;
    font-weight: 400;
    color: #303030;
    line-height: normal;
    padding: 10px 15px;
    display: inline block;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    opacity: 0.7;
    margin-right: 16px;
}

#newsletter_submit {
    color: #fff;
    border-color: #000;
    background-color: #000;
    padding: 11px 30px;
    font-family: "Cera Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 1px solid #303030;
    border-radius: 4px;
}

#social_wrapper {
    display: flex;
}

#social_wrapper a {
    opacity: 1;
}

#social_wrapper img {
    width: 50px;
}

#instagram_icon, #blog_icon {
    margin-left: 30px;
}

#blog_icon {
    border-left: 1px solid #dedee3;
    padding-left: 30px;
    color: #447130;
    font-weight: 400;
    opacity: 1;
}

#payment img {
    max-width: 347px;
}

#security a {
    font-size: 8px;
    text-transform: none;
    opacity: 1;
    text-align: center;
}

#security>div {
    display: inline-block;
    vertical-align: top;
}

#ssl_certificate {
    display: flex;
    flex-direction: column;
}

#ssl_certificate img {
    max-width: 76px;
}

#trustPilot_widget img {
    height: 100%;
    width: 120px;
}

#copyrights_wrapper a {
    opacity: 1;
}

#copyrights::before {
    content: "\00a9    ";
}

#remixGlobal_link, #sitemap_link {
    text-decoration: underline;
}

#sitemap_link {
    margin-left: 6px;
    border-left: 1px solid #909090;
    padding-left: 6px;
}

#footer-bottom {
    padding: 25px 0;
    font-size: 21px;
    color: #303030;
    text-align: center;
}

#footer-bottom a {
    opacity: 1;
    text-transform: none;
    font-size: 21px;
}

#footer-bottom img {
    width: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

/* ====Page OverView =============================================================== */

.wayLinksContainer {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.custom-way {
    margin: 0 0 30px 0;
    padding: 0;
}

.custom-way>li {
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
}

.custom-way>li.back-link::before {
    content: "";
    width: 8px;
    height: 10px;
    display: inline-block;
    background: url(./../images/arrow-left-icon.png) no-repeat left top;
    position: relative;
    top: 1px;
}

.custom-way>li.back-link a {
    padding-left: 5px;
}

.custom-way>li a {
    color: #303030;
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.custom-way>li.back-link::after {
    background: none;
    content: "|";
    transform: none;
}

.custom-way>li::after {
    content: "";
    width: 8px;
    height: 10px;
    display: inline-block;
    margin: 0 9px 0 11px;
    background: url(./../images/arrow-right-icon.png) no-repeat left top;
    position: relative;
    top: 1px;
}

.custom-way>li.active {
    color: #909090;
    background-color: white;
}

.custom-way>li.active::after {
    background: none;
}

.product-border {
    position: relative;
    display: block !important;
    flex: 0 0 68.5%;
    max-width: 68.5%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #dedee3;
}

#pageOverView .row {
    display: flex;
    width: 1265px;
    margin-right: -15px;
    margin-left: -15px;
}

.empty-info {
    font-size: 19px;
    font-family: "Cera Pro", sans-serif;
    margin: 30px 0 0 290px;
}

#pageOverView .product-image {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}

#pageOverView .main-img {
    flex: 0 0 80%;
    max-width: 80%;
    order: 1;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.big-img-container {
    min-height: 545px;
}

.img {
    width: 100%;
    max-width: 363px;
    margin: 10px 90px;
    display: block;
    border-style: none;
    height: auto;
}

#pageOverView .product-details .cornerWrapperOverView {
    top: 20px;
    right: 90px;
    position: absolute;
}

.voucher-badge {
    font-size: 13px;
    width: 40px;
    height: 30px;
    margin-bottom: 5px;
    color: #fff;
    background-color: #ed1c24;
    font-family: "Cera Pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    border-radius: 4px;
    cursor: default;
    /* position: absolute;
    right: 55px; */
}

.favourite {
    right: 80px;
    bottom: 50px;
    position: absolute;
    line-height: 0;
    cursor: pointer;
}

.fav-icon {
    width: 30px;
    height: 30px;
    background: url(./../images/favorite-icon-big.png) no-repeat;
    cursor: pointer;
    display: inline-block;
}

.fav-icon:hover {
    background: url(./../images/favorite-icon-big-hover.png) no-repeat;
}

.side-img-container {
    padding-top: 1.5rem;
    justify-content: center;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#pageOverView .product-details .img-fluid {
    cursor: pointer;
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

#pageOverView .product-details .item {
    max-width: 84px;
    margin-bottom: 10px;
}

#pageOverView .product-details .section-product-list {
    display: block;
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#pageOverView .product-details .item-info-box {
    display: flex;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#pageOverView .product-details .product-information {
    background-color: #f1f1f3;
    width: 100%;
}

#pageOverView .product-details .item-navigation-tabs {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

#pageOverView .product-details .nav-item {
    flex: 0 0 33.3%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    background-color: #f5f5f7;
    padding: 0;
    display: flex;
    font-family: "Cera Pro", sans-serif;
}

#action-tabs .nav-item>.active {
    border-bottom: none !important;
    border-left: none;
    border-top: 1px solid #dedee3;
    background-color: #f1f1f3;
}

#pageOverView .product-details .nav-link {
    padding: 20px 10px;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border: 1px solid #dedee3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: none;
    border-right: none;
    text-decoration: none;
    outline: none;
    color: #303030;
}

#pageOverView .product-details .content {
    padding: 30px;
    background-color: #f1f1f3;
}

#pageOverView .product-details .panel.show {
    background-color: #f1f1f3;
    font-family: "Cera Pro", sans-serif;
    display: block;
}

#pageOverView .product-details .panel.show a {
    color: #303030;
}

#pageOverView .product-details .panel {
    display: none;
}

#pageOverView .product-details .product-titles {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Cera Pro", sans-serif;
    margin: 0 0 20px;
    font-weight: 400;
    line-height: 1.2;
    color: #303030;
}

#pageOverView .product-details .product-titles a {
    text-decoration: underline;
    color: #303030;
    cursor: pointer;
}

#pageOverView .product-details .product-price {
    margin-bottom: 20px;
    font-family: "Cera Pro", sans-serif;
    margin: 0 0 20px;
}

#pageOverView .product-details .item-price {
    font-size: 16px;
    margin-bottom: 5px;
}

#pageOverView .product-details .price-title.old {
    font-size: 13px;
    display: inline-block;
    text-transform: none;
    font-family: "Cera Pro", sans-serif;
}

#pageOverView .product-details .old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #ed1c24;
}

#pageOverView .product-details .old-price>span {
    color: #a3a3a3;
    font-size: 13px;
}

#pageOverView .product-details .price-title-new {
    display: inline-block;
    text-transform: uppercase !important;
}

#pageOverView .product-details .new-price {
    color: #ed1c24;
    font-size: 16px;
    font-family: "Cera Pro", sans-serif;
}

#pageOverView .product-details .discounts {
    margin-top: 20px;
}

#pageOverView .product-details .discount-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#pageOverView .product-details .badge-text {
    font-family: "Cera Pro", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

#pageOverView .product-details .promo-badge {
    margin-right: 20px;
}

#pageOverView .product-details .overView-product-size, .product-cond, .product-content, .product-color, .product-description, .product-button {
    margin-bottom: 10px;
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    color: #131313;
}

#pageOverView .product-details .overView-product-size>span, .product-cond>span, .product-content>span, .product-color>span, .product-description>span {
    font-weight: 600;
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    color: #131313;
}

#pageOverView .product-details .sizes-link {
    font-weight: 700;
    margin-left: 5px;
    text-decoration: underline;
    color: #303030;
}

#pageOverView .product-details .new-label {
    display: inline-block;
    width: 16px;
    height: 14px;
    vertical-align: middle;
    background: url(./../images/label-new-1-icon.png) no-repeat;
}

#pageOverView .product-details .site-btn {
    font-size: 16px;
    margin: 20px 0 30px;
    padding: 12px;
    min-width: 210px;
    display: inline-block;
    color: #303030;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    border: 1px solid #303030;
    border-radius: 4px;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

#pageOverView .product-details .price-title-original {
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-family: "Cera Pro", sans-serif;
}

#pageOverView .product-details .original-price {
    font-size: 16px;
    font-family: "Cera Pro", sans-serif;
    margin-left: 20px;
}

.section-product-list {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#pageOverView .product-button a:hover {
    background-color: rgb(243, 243, 243);
}